[submodule "cloud-platform-terraform-ingress-controller"]
	path = terraform-test/cloud-platform-terraform-ingress-controller
	url = https://github.com/ministryofjustice/cloud-platform-terraform-ingress-controller.git
[submodule "argocd-tf"]
	path = terraform-test/argocd-tf
	url = https://github.com/hagzag/argocd-tf.git